[user]
  name = Junwoo Hwang
  email = zzulu.hwang@gmail.com
  signingkey = 71C2505BD1C7546B
[core]
  editor = vim
[init]
	defaultBranch = main
[pull]
  rebase = false
[alias]
  tree = log --graph --oneline --abbrev-commit
[includeIf "gitdir:~/Codes/Educations/"]
  path = ~/Codes/Educations/.gitconfig
