[user]
  name = Junwoo Hwang
  email = zzulu.hwang@gmail.com
  signingkey = 71C2505BD1C7546B
[commit]
  gpgsign = true
[core]
  editor = vim
  quotepath = false
[init]
  defaultBranch = main
[pull]
  rebase = false
[push]
	autoSetupRemote = true
[alias]
  tree = log --graph --oneline --abbrev-commit
[includeIf "gitdir:~/Codes/Educations/**"]
  path = ~/Codes/Educations/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
